# Datos crudos y pesados (NUNCA versionar)
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.cram
*.sra

# Bases de datos
*.k2d
*.cf
*.bt2
*.bt2l
*.db
data/db/
data/ref/

# Resultados voluminosos
results/dehosting/*.fastq.gz
results/kraken2/*_output.txt
results/metaphlan4/*.bz2
results/centrifuge/*_classifications.txt

# Cache y temporales
.snakemake/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.Rhistory
*.RData
logs/


